<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid p-0">
  <footer class="text-center text-lg-start">
    <div class="container-fluid d-flex justify-content-center py-3">
      <button type="button" class="btn btn-stack btn-floating mx-2">
        <a href="https://www.mysql.com/" target="_blank">
          <img src="https://img.icons8.com/ios-filled/40/000000/mysql-logo.png"/>
        </a>
      </button>
      <button type="button" class="btn btn-stack btn-floating mx-2">
        <a href="https://expressjs.com/" target="_blank">
          <img class="express" fill='#FFF' src="https://www.vectorlogo.zone/logos/expressjs/expressjs-icon.svg" alt="express">
        </a>
      </button>
      <button type="button" class="btn btn-stack btn-floating mx-2">
        <a href="https://angular.io/" target="_blank">
          <i class="fab fa-angular"></i>
        </a>
      </button>
      <button type="button" class="btn btn-stack btn-floating mx-2">
        <a href="https://nodejs.dev/" target="_blank">
          <i class="fab fa-node-js"></i>
        </a>
      </button>
    </div>

    <!-- Copyright -->
    <div class="banner d-flex justify-content-around">

      <div class=" text-center text-white p-3">
        © 2021 Copyright:
        <a class="text-white" href="#">Movie Crud</a>
      </div>
      <div class="authors">
        <div class="text-center text-white p-3 d-flex flex-wrap justify-content-center">
          <span>Authors:</span>
          <a class="text-white mx-2" href="https://github.com/dlscoccia/movies_crud_angular_node">Edwin&nbsp;Bernal</a>
          <a class="text-white" href="https://github.com/dlscoccia/movies_crud_angular_node">Daniel&nbsp;Lorenzo</a>
        </div>
      </div>
    </div>
    <!-- Copyright -->
  </footer>
  
</div>
<!-- End of .container -->