@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.navbar {
  background-color: rgb(4, 11, 80);
  font-size: 24px;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: #fff;
  font-family: 'Fredoka One', cursive;
  font-size: 32px;
}

.navbar-brand:hover {
  color:#f7fff7;
}